@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Commissioner', sans-serif;
  background-color: whitesmoke !important;
}